<launch>
 <node pkg="qbot" type="cnc_node" name="cnc_skt211" required="true" output="screen">
 	<!-- <param name="qnfilepath" command="'$(find qbot)/src/questions.txt'"/> -->
 </node>
 
 <include file="/home/human/catkin_ws/src/movenao/launch/movenao.launch" />
 
 <include file="/home/human/catkin_ws/src/speech/launch/speech.launch" />
 
 <include file="/home/human/catkin_ws/src/nlp/launch/nlp.launch" />
 
 <include file="/home/human/catkin_ws/src/facedetection/launch/face.launch" />
 
 <!-- 
 <include file="/opt/extra_ws/src/nao_puppet/launch/nao_puppet.launch" />
 -->
</launch>
