<launch>
  <!--Get arguments at launch time-->
  <arg name="nao_ip" default="127.0.0.1"/>
  <!--Use the line below to connect to actual NAO-->
  <!--<arg name="nao_ip" default="10.0.0.145"/>-->
  <arg name="nao_port" default="9559" />

  <!-- Set parameters -->
  <param name="nao_ip" value="$(arg nao_ip)" />
  <param name="nap_port" value="$(arg nao_port)" />

  <!--Launch all NAO puppet nodes -->
  <node pkg="movenao" type="naomotion_node.py" name="MoveNao" required="true"  />

</launch>
